@model ViewModel
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">bright_idea</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Ideas">Ideas</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Logout">Logout</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact"></a></li>
                </ul>
            </div>
        </div>
    </nav>
<h2>Welcome!</h2>

<a href="/UserShow/@Model.Idea.Creator.Userid">@Model.Idea.Creator.Name</a> says:
<div style="width: 300px; border: 1px solid black;">@Model.Idea.Text</div>


<p></p>

<h3>People who liked this idea</h3>

<table class="table">
    <thead>
        <th>
            <tr>
            <td>Alias</td>
            <td>Name</td>
            </tr>

        </th>
    </thead>
<tbody>
    @foreach(var i in @Model.allLikes){
    <tr>
        <td><a href="/UserShow/@i.User.Userid">@i.User.Alias</a></td>
        <td>@i.User.Name</td>
    </tr>
    }
</tbody>
</table>
